# override values for your local development setup if necessary.
# Remember that .env should never be committed!
APP_PORT=80
APP_TEST_DB_HOST=
APP_AZ_USE_AZURITE=1
APP_AZ_BLOBSTORE_ACCOUNT=devstoreaccount1
APP_AZ_BLOBSTORE_ACCOUNTURL=http://localhost:10000/devstoreaccount1
APP_AZ_BLOBSTORE_ACCOUNTKEY=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==
APP_AZ_BLOBSTORE_CONTAINERNAME=dev
